.footer__link {
    font-family: Inter, "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    text-decoration: none;
    color: black;
    margin-right: 20px;
}

.footer__link:last-of-type{
    margin-right: 0;
}

@media screen and (max-width: 430px){
    .footer__link {
        margin-right: 0;
        font-size: 12px;
        line-height: 15px;

        margin-bottom: 12px;
    }
}