.menu {
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    transition: right 0.5s;
}

.menu_opened {
    right: -100%;
}