.menu {
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    transition: right 0.5s;

    display: none;
}

.menu_opened {
    right: -100%;
}

@media screen and (max-width: 600px){
    .menu {
        display: block;
    }
}