.hero__link {
    margin-right: 40px;

    color: black;

    font-family: Inter, "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
}

.hero__link:last-of-type {
    margin-right: 0;
}

.hero__link:hover {
    opacity: 0.8;
}