.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #FAFAFA;
}

@media screen and (max-width: 430px){
    .footer {
        background-color: white;
    }
}