.card {
    background-color: #FDFDFD;
    box-shadow: 0 0 5px rgba(0,0,0,0.15);
    height: 271px;
    width: 364px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 30px;
}

@media screen and (max-width: 430px){
    .card {
        height: 236px;
        width: 300px;
    }
}