.search__box {
    width: 80%;
    height: 48px;
    border-radius: 50px;
    border-color: rgb(170, 170, 170, 0.2);
    border-width: 1.5px;
    border-style: solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 430px){
    .search__box {
        width: 100%;
    }
}