.profile__name {
    margin-right: 13px;
    font-family: Inter, "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.profile__name_main-page{
    color: white;
}