.student__social-link {
    font-family: Inter, "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: black;
    text-decoration: none;

    margin: 0;

    margin-right: 20px;
}